body {

    background-color: rgb(69, 76, 210);

}

.yo {
    padding: 100px;
    margin: 10px;
    background-color: yellow
}

.flex {
    display: flex;
}

.red {
    padding: 100px;
    margin: 10px;
    background-color: yellow;
}

.box1 {
    padding: 100px;
    margin: 10px;
    background-color: yellow;
    width: 100px;
    height: 100px;
    display: flex;
}

.barraC {
    background-color: yellow;
    width: 740px;
    height: 100px;
    padding: 100px;
    margin: 10px;

}

.barraC1 {
    background-color: yellow;
    width: 420px;
    height: 100px;
    padding: 100px;
    margin: 10px;
}

.barraC2 {
    background-color: yellow;
    width: 100px;
    height: 100px;
    padding: 100px;
    margin: 10px;

}

.vertical {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 500px;
    margin: 10px;

}

.cimaD {
    background-color: yellow;
    width: 300px;
    height: 1px;
    padding: 80px;
    margin: 10px;

}

.cimaD2 {
    background-color: yellow;
    width: 60px;
    height: 157px;
    padding: 80px;
    margin: 10px;
}

.cimaD3 {
    background-color: yellow;
    width: 60px;
    height: 157px;
    padding: 80px;
    margin: 10px;
}

.vertical1 {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 800px;
    margin: 10px;
    margin-right: 70px;

}

.vertical2 {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 800px;
    margin: 10px;
    margin-left: 70px;
}

.vertical4 {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 800px;
    margin: 10px;
    margin-left: 70px;
}

.top1 {
    background-color: yellow;
    width: 200px;
    height: 200px;
    margin: 10px;
    margin-bottom: 70px;
}

.md1 {
    background-color: yellow;
    width: 200px;
    height: 530px;
    margin: 10px;
}

.left1 {
    background-color: yellow;
    width: 100px;
    height: 100px;
    padding: 100px;
    margin: 10px;
    margin-right: 70px;
}

.left2 {
    background-color: yellow;
    width: 100px;
    height: 100px;
    padding: 100px;
    margin: 10px;
}

.gordo {
    background-color: yellow;
    width: 480px;
    height: 300px;
    padding: 100px;
    margin: 10px;
    margin-top: 70px;
}